# Python
.Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Ambientes virtuais
venv/
.venv/
env/
/site/

# Variáveis de ambiente
.env

# Logs e Dados Gerados
*.log
*.txt
*.sqlite3
data/
media/

# Arquivos temporários e de build
*.tmp
*.bak
*.swp
*.swo
*.orig
dist/
build/
.cache/

# macOS specific
.DS_Store

# Docker
.dockerignore
.docker/
docker-compose.override.yml
*.dockerfile

# Diretórios de volumes do Docker (dados persistentes no host)
yolo_runs/
db_data/

# Alembic
alembic/versions/*.pyc
*.old
